<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wow, craft is so cool</title>
</head>
<body>
    <h1>{{ entry.title }}</h1>
    <h3>{{ entry.subtitle }}</h3>
    {% set bannerImage = entry.banner_image.one() %}
    <img src="{{ bannerImage.url }}" alt="{{ bannerImage.title }}">
</body>
</html>