<footer class="bg-primary">
      <div class="max-w-7xl mx-auto py-12 px-4 overflow-hidden sm:px-6 lg:px-8">
        <nav
          class="-mx-5 -my-2 flex flex-wrap justify-center"
          aria-label="Footer"
        >
          <div class="px-5 py-2">
            <a href="#" class="text-base text-gray-300 hover:text-secondary">
              Trail Adventures
            </a>
          </div>

          <div class="px-5 py-2">
            <a href="#" class="text-base text-gray-300 hover:text-secondary">
              Locations
            </a>
          </div>

          <div class="px-5 py-2">
            <a href="#" class="text-base text-gray-300 hover:text-secondary">
              FAQs
            </a>
          </div>

          <div class="px-5 py-2">
            <a href="#" class="text-base text-gray-300 hover:text-secondary">
              News
            </a>
          </div>
        </nav>
        <p class="mt-8 text-center text-base text-gray-400">
          {% set currentYear = "now"|date("Y") %}
          &copy; {{ currentYear }} Trail Adventures. All rights reserved.
        </p>
      </div>
    </footer>