<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TrailQuest Running</title>
    <link rel="stylesheet" href="/assets/main.9b87cd94.css" />
    <script type="module" src="/assets/main.eeb45929.js"></script>
  </head>
  <body>
    {% include '_shared/_navigation.twig' %}
    {% block main %}
        Default main
    {% endblock %}
    {% include '_shared/_footer.twig' %}
    <script type="module" src="/src/main.js"></script>
  </body>
</html>

    
    